@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
  --font-heading: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;

  --color-white: #FFFFFF;
  --color-primary: #5C318C;
  --color-secondary: #2654A1;
  --color-accent: #D01869;
}

:root {
  color-scheme: light dark;
}
